@import './base.css';
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=PT+Serif:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #110F24;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;  
}

img {
  max-width: 100%;
}

.text {
  opacity: 0.95;
}